<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="<%= logo %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=k0AP2xUs6VFGPlXAHcWGYgEZpXgsVQjD"></script>
  </head>
  <body>
    <div id="app"></div>
    <script>
    //   window.addEventListener('error',(e)=>{
    //  if (!(e instanceof ErrorEvent)&&e.target.tagName==='SCRIPT'){
    //        let retry= sessionStorage.getItem('retry')||0;
    //        if (retry<=1){
    //          sessionStorage.setItem('retry',++retry);
    //          location.reload(true);
    //
    //        }else{
    //          alert('网络异常','请反馈')
    //        }
    //  }
    // },true)
    </script>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
